<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lite.teamsclone">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ms_logo"
        android:label="MS Teams Clone"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HousePartyNew">
        <activity android:name="com.lite.teamsclone.Activities.AddNoteActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.lite.teamsclone.Activities.PreviousMeetingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.MyNotesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.CreateInstantMeetingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.ScheduledMeetingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.ReminderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lite.teamsclone.Activities.EditProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.JoinChannelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lite.teamsclone.Activities.LoginActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>