<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lite.housepartynew">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ms_logo"
        android:label="MS Teams Clone"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HousePartyNew">
        <activity android:name=".Activities.AddNoteActivity"></activity>
        <activity android:name=".Activities.PreviousMeetingsActivity" />
        <activity android:name=".Activities.MyNotesActivity" />
        <activity android:name=".Activities.CreateInstantMeetingActivity" />
        <activity android:name=".Activities.ChatActivity" />
        <activity android:name=".Activities.ScheduledMeetingsActivity" />
        <activity android:name=".Activities.ReminderActivity" />
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.DashboardActivity" />
        <activity android:name=".Activities.JoinChannelActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.LoginActivity" />
    </application>

</manifest>